<div class="example-header" fxLayout="row">

    <mat-form-field>
        <input matInput placeholder="Search lessons" #input (keyup)="searchLessons(input.value)">
    </mat-form-field>
  </div>

  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id_user">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="id"> {{element.id_user}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="codice">
        <mat-header-cell *matHeaderCellDef> codice </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="id"> {{element.codice}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef> nome </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="nome"> {{element.nome}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="cognome">
        <mat-header-cell *matHeaderCellDef> cognome </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="cognome"> {{element.cognome}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="email"> {{element.email}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> username </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="username"> {{element.username}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
