// material toolbar
.mat-toolbar {

  a:hover {
    color: #8aa0b6;
  }

  .active {
    text-decoration: underline;
  }

  .spacer {
    flex: 1 1 auto;
  }
}



/* Responsive Styles */
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {

}
