<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
      <span class="menu-spacer"></span>
      <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-button routerLink="/users-codes" routerLinkActive="active">Users Codes</a>
      <a mat-button routerLink="/users-data" routerLinkActive="active">Users Data</a>
      <a mat-button routerLink="/test" routerLinkActive="active">Test</a>
      <a mat-button [routerLink]="'/tests'" routerLinkActive="active"> Tests </a>
      <span class="spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/users-codes'"> users-codes </a>
      <a mat-list-item [routerLink]="'/users-data'"> users-data </a>
      <a mat-list-item [routerLink]="'/test'"> test </a>
      <a mat-list-item [routerLink]="'/tests'"> tests </a>
      <a mat-list-item [routerLink]="'/products'"> products </a>
      <a mat-list-item [routerLink]="'/create'"> create </a>
      <a mat-list-item [routerLink]="'/customers'" routerLinkActive="active"> customers </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
